/* CSS styles */
* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#div_goiburua{
    background-color: #749BC2;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#div_goiburua #izenburua {
    margin: 0;
} 

#div_nagusia {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div_nagusia form{
    background-color: #F6F4EB;
    height: 60%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 2px rgba(28, 28, 28, 0.413);
    border: 0px solid black;
    padding: 2% 2% 2% 2%;
}

.div_formularioa {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div_formularioa input, #login_botoia {
    padding: 0;
    width: 80%;
    height: 50%;
    box-shadow: 0 0 2px rgba(28, 28, 28, 0.413);
    border: 0px solid black;
    font-size: 16px;
}

.div_formularioa input{
    margin: 1%;
    height: calc(50% - 20px);;
    width: calc(80% - 20px);
    padding: 10px;
}
.div_formularioa #signup_botoia{
    padding: 0;
    width: 80%;
    height: 50%;
    box-shadow: 0 0 2px rgba(28,28,28, 0.413);
    border: 0px solid black;
    font-size: 16px;
}

#login_botoia{
    background-color: #91C8E4;
}

#login_botoia:hover{
    background-color: #749BC2;
}

#signup_botoia{
    background-color: #FFFF00;
}

#signup_botoia:hover{
    background-color:#ffef00;
    text-decoration: underline; 
  }
}

.div_formularioa input:focus {
    outline: none;
}