* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#header_div{
    background-color: #749BC2;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#header_div #izenburua {
    margin: 0;
} 

#main_div {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_div form{
    background-color: #F6F4EB;
    height: 60%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 2px rgba(28, 28, 28, 0.413);
    border: 0px solid black;
    padding: 2% 2% 2% 2%;
}

.form_div {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form_div input, .form_div button {
    padding: 0;
    width: 80%;
    height: 50%;
    box-shadow: 0 0 2px rgba(28, 28, 28, 0.413);
    border: 0px solid black;
    font-size: 16px;
}

.form_div input{
    margin: 1%;
    height: calc(50% - 20px);;
    width: calc(80% - 20px);
    padding: 10px;
}

.form_div button{
    background-color: #91C8E4;
}

.form_div button:hover{
    background-color: #749BC2;
}

.form_div input:focus {
    outline: none;
}
