:root {
    --color1: #749BC2;
    --color2: #F6F4EB;
    --color3: rgba(28, 28, 28, 0.413);
    --color4: #91C8E4;
    --color5: #FFFF00;
    --color6: #FF0000;
    --color7: #800080;
    --color8: #540154;
}

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#div_goiburua{
    background-color: var(--color1);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#div_goiburua #izenburua {
    margin: 0;
} 

#div_nagusia {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div_edukia{ /*main.html*/
    background-color: var(--color2);
    height: auto;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 2px var(--color3);
    padding: 2% 2% 2% 2%;
}

/* #Taula{
    height: 80%;
    width: 100%;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
    display: flex;
} */

th, td {
  background-color: var(--color1);
  padding: 0;
  text-align: center;
}

table {
    width: 100%;
}

tr {
    width: 100%;
}

.div_taula{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-shadow: 0 0 2px var(--color3);
    margin: 5px;
}

.div_taula_sub{
    height: auto;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.borde_gorria {
    border: 1px solid var(--color6);
}

.borde_ez {
    border: none;
}

#botoi_biribila {
    width: 80px;
    height: 80px;
    background-color: #007bff;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
}

#botoi_biribila:hover {
    background-color: #0056b3;
}

#botoi_biribila p {
    font-size: 250%;
    user-select: none;
}

#div_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#div_modal_sub {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    position: relative;
    z-index: 3;
    width: 40%;
    height: auto;
}

#div_modal_sub h2{
    margin-top: 10px;
    margin-bottom: 20px;
}

#div_modal_itxi{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 96%;
}

#modal_itxi {
    cursor: pointer;
    font-size: 20px;
}

#div_opaku {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
    padding: 5px;
    width: calc(100% - 14px);
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#datuak_aldatu {
    background-color: var(--color7);
    border: none;
    position:absolute;
    top:120px;
    right:10px;
    border-radius: 7px;
}	

#datuak_aldatu:hover{
    background-color: var(--color8);
    text-decoration: underline; 
    border: none;
}
